[Unit]
Description=Mastodon Sidekiq
After=network.target postgresql.service valkey-server.service

[Service]
Type=simple
User=mastodon
WorkingDirectory=/home/mastodon/live
Environment=RAILS_ENV=production
ExecStart=/usr/local/rbenv/versions/3.4.9/bin/bundle exec sidekiq
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
